@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}
body,
html {
  font-family: "Poppins", sans-serif;
  background: #161616;
}
#UNIQUE_ID_OF_DIV{
  background-color: #dce0ea ;
}
#root {
  height: 100vh;
}
.bi {
  background: #161616 !important;
}

.bh.bi {
  background: #ffffff !important;
}

.bi-diagram-port {
  background: #ffb91d !important;
}

.bi-diagram {
  border: 0.07rem solid #161616 !important;
  border-radius: 0% !important;
  height: 91vh !important;
  width: 100vw !important;
}
